.cart-page-title {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cart-content {
  display: grid;
  grid-template-columns: 1fr 485px;
  gap: 18px;
}

// CART ITEM TABLE
.cart-content-table {
  border-collapse: collapse;
  border: 1px solid var(--color_dark);

  input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }
  
  th, td {
    padding: 20px;
    text-align: center;

    &:nth-child(2) {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }
  }

  thead {
    height: 60px;
    border: 1px solid var(--color_dark);
  }

  &-items {
    &-no {
      display: none;
      td {
        text-align: center !important;
      }
    }
    &-item {
      border: 1px solid var(--color_dark);

      .cart-item {
       &-content {
        display: flex;
        gap: 40px;

        .item-content {
          &-img {
            width: 87px;
            height: auto;
          }

          &-detail {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5px;

            &-timer {
              font-size: 12px;
              font-weight: 400;
            }

            &-name {
              font-size: 25px;
              font-weight: 400;
            }

            &-price, &-others {
              font-size: 15px;
              font-weight: 400;
            }
          }
        }
       }

       &-qty {
        &-cont {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          margin: 10px 0;
          &-item {
            width: 40px;
            height: 40px;
            border: none;
            background: none;
            cursor: pointer;
            border: 1px solid var(--color_dark);
            display: grid;
            place-items: center;
            text-align: center;
            font-size: 20px;
            border-radius: 5px;
            font-weight: 400;
          }
        }

        &-remove {
          width: 130px;
          height: 40px;
        }
       }

       &-price {
        font-size: 20px;
        font-weight: 400;
       }
      }
    }
  }

  &[data-cart-table="no-items"] &-items-no {
    display: table-row;
  }
}

.cart-content-breakout {
  position: relative;
  width: 100%;
  min-height: 250px;
  height: max-content;
  border: 1px solid var(--color_dark);
  padding: 20px;

  .remove-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    &-text {
      border: none;
      background: transparent;
      font-size: 20px;
      cursor: pointer;

      &:hover {
        color: var(--color_primary);
      }
    }

    &-btn {
      width: 200px;
      height: 30px;
      font-size: 20px;
    }

  }

  &-total {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    &-text {
      font-size: 25px;
      font-weight: 400;
    }

    &-val {
      color: var(--color_primary);
      font-size: 25px;
      font-weight: 700;
    }
  }

  &-checkout {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    place-items: center;

    width: 280px;
    height: 60px;

    font-size: 20px;
    font-weight: 400;
  }
}