.footer {
  display: grid;
  grid-template-rows: 286px 1fr;
  height: 100%;
  padding-top: 25px;
  color: var(--color_light);
  background-color: var(--color_dark2);

  > section:first-child {
    display: grid;
    place-items: center;
    height: 286px;
  }
  
  > section:last-child {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
  }
  
  &-logo {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 70px;
    &-container {
      display: flex;
      flex-direction: column;
      gap: 50px;

      img {
        width: auto;
        height: 100px;
        object-fit: contain;
      }
    }

    &-title {
      font-size: 25px;
      text-align: center;
      margin-left: 50px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 1px;
      height: 270px;
      background-color: var(--color_light);
    }
  }
}