.order-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 50px;

  tr {
    border: 1px solid var(--color_dark_30);
  }
  
  th, td {
    text-align: center;
    padding: 20px;

    &:first-child {
      text-align: left;
    }
  }

  thead tr:first-child {
    border: none;
    th:first-child {
      padding: 0;
      height: 70px;
    }
  }

  &-tabs {
    display: flex;
    height: 100%;
    button {
      height: 100%;
      cursor: pointer;
      border: none;
      border: 1px solid var(--color_dark_30);
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      background: none;
      padding: 0 30px;
      font-size: 20px;
      transition: background .20s ease-in, color .20s ease-in;
      margin-right: 5px;

      &.active, &:hover {
        color: var(--color_light);
        background-color: var(--color_primary);
      }
    }
  }
  
  &-item {
    display: none;
    &-no {
      display: none;
      td {
        text-align: center;
      }
    }
    &-col {
      &1 {
        &-content {
          display: flex;
          align-items: center;
          gap: 40px;
  
          img {
            height: 100px;
            width: auto;
          }
  
          &-details {
            display: flex;
            flex-direction: column;
            gap: 5px;
            font-size: 15px;

            h3 a{
              color: var(--color_dark);
              font-size: 25px;
              font-weight: 400;
            }
          }
        }
      }

      &5 {
        button {
          width: 130px;
          height: 40px;
        }
      }
    }
  }

  &[data-order-table='no-items'] &-item-no {
    display: table-row;
  }
  &[data-active-tab='0'] &-item[data-order-row-tab-0] {
    display: table-row;
  }
  &[data-active-tab='1'] &-item[data-order-row-tab-1] {
    display: table-row;
  }
}