.product {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
  width: 100%;
  position: relative;

  .left-container {
    height: 100%;
    width: 100%;

    .left-inner-container {
      .product-and-model-container {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 100% 100%;

        .model-container {
          height: 100%;
          width: 108px;
          .main-product-model {
            height: 121px;
            width: 108px;
          }
        }
      }

      .options-container {
        display: flex;
        justify-content: center;

        .option-items {
          height: 171px;
          width: 153px;
          margin-right: 30px;
        }
      }
    }

    .main-product {
      height: 500px;
    }
  }

  .right-container {
    height: auto;
    width: 50%;
    right: 50%;
    border: 1px solid rgba(34, 34, 34, .3);
    border-radius: 5px;

    .right-inner-container {
      margin: 57px 55px;

      .product-name {
        font-size: 50px;
      }

      .product-price {
        margin-top: 40px;
        font-size: 30px;
      }

      .product-sizing-container {
        display: grid;
        grid-template-columns: repeat(4, 135px);
        grid-template-rows: repeat(3, 53px);
        margin-top: 40px;

        a {
          text-decoration: none;
          color: var(--color_dark);
        }

        .product-item {
          display: inline-block;
          height: 40px;
          width: 120px;
          border: 1px solid var(--color_dark);
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          text-decoration: none;
          font-size: 20px;
        }

        .product-item:hover {
          background-color: var(--color_primary);
          color: var(--color_light);
        }
      }

      .quantity-container>span {
        margin-left: 30px;
        font-size: 20px;
      }

      .quantity-container {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-top: 40px;

        .quantity-border {
          height: 40px;
          width: 40px;
          border: 1px solid var(--color_dark);
          border-radius: 5px;
          display: inline-block;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 5px;
        }

        input {
          font-size: 20px;
          text-align: center;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        .size-chart-text {
          color: var(--color_dark);
        }

        .stocks-text {
          color: var(--color_dark);
        }
      }

      .add-to-cart-and-checkout-container {
        display: flex;
        margin-top: 40px;
        a {
          text-decoration: none;
        }
      }

      .add-to-cart,
      .checkout {
        height: 51px;
        width: 186px;
        border: 1px solid var(--color_primary);
        background-color: var(--color_primary);
        color: var(--color_light);
        display: inline-block;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        text-decoration: none;
        font-size: 20px;
        margin-right: 26px;
      }

      .details-container {
        text-align: justify;
        margin-top: 15px;
        .details-text {
          font-size: 30px;
          font-weight: 700;
          color: var(--color_dark);
        }
      }
      .details-container > * {
        margin-top: 20px;
      }
    }

    .right-container > * {
      margin-top: 40px;
    }
  }
}