@use "./var";
@use "./reset";
@use "./nav";
@use "./footer";

@use "./carousel";
@use "./home_featured";
@use "./about_page";
@use "./cart";
@use "./checkout";
@use "./products";
@use "./orders";
@use "./order_status";

body {
  display: grid;
  grid-template-rows: 1fr 400px;
  gap: 10px;
}

.main {
  width: 100%;
  display: grid;
  place-items: center;

  margin-top: 160px;

  &-content {
    width: 100%;
  }
}

.topnav-content, .nav-content, .main-content, .footer-content {
  max-width: 1596px;
}